<html ng-app="MoniCoin" >
  <head>
    <title>MoniCoin</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css" />

    <script type="text/javascript" src="static/js/storedb.js"></script>
    <script type="text/javascript" src="static/js/angular.min.js"></script>
    <script type="text/javascript" src="static/js/monicoin.js"></script>
  </head>

  <body ng-controller="TradeController">
    <header>
      <div>￥{{ price }}</div>
      <span class="small">实时行情由 <a href="https://www.okcoin.cn/">OKCoin</a> 提供</span>
      <p class="small">
        <span>资产：<span class="sole">{{property}}</span> 元</span>
      </p>
      <p class="small">
        <span>比特币：<span class="sole" ng-model="bitcoin">{{bitcoin | number: 3}}</span> 个</span>
      </p>
    </header>

    <div id="trade" >

      <div id="control" style="float: left">
        <ul id="list">
          <li>
            <h3>买入</h3>
            <input class="in" type="text" placeholder="输入买入个数" ng-model="buy_count" />
            <button class="btn" ng-click="buy(price,buy_count)">Buy</button>
            <p class="buy">{{buy_count * price | number: 1}}</p>
          </li>

          <li>
            <h3>卖出</h3>
            <input class="in" type="text" placeholder="输入卖出个数" ng-model="sole_coin" />
            <button class="btn" ng-click="sole(price,sole_coin)">Sole</button>
            <p class="sole">{{ sole_coin * price | number: 1}}</p>
          </li>
        </ul>
      </div>

      <div id="record" style="float: right">
        <h3>交易记录</h3>
        <table style="text-align: center;">
          <thead>
            <th>操作</th>
            <th>数量</th>
            <th>单价</th>
            <th>资产流动</th>
            <th>交易时间</th>
          </thead>
          <tr ng-repeat="trade in trades">
            <td class="{{trade.type}}">{{trade.type}}</td>
            <td>{{trade.count}}</td>
            <td>{{trade.price | number: 1}}</td>
            <td class="{{trade.type}}">{{trade.money | number: 1}}</td>
            <td>{{trade.date}}</td>
          </tr>
        </table>
      </div>

    </div>

    <footer class="small">
      <span>MoniCoin 虚拟比特币交易 - By <a href="http://djyde.github.io">Randy</a> - <a href="https://github.com/djyde/MoniCoin">开源在Github</a></span>
      <p><a href="#" ng-click="reset()">重置数据</a></p>
    </footer>

    <script type="text/javascript">
      //百度统计
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F07c4621b615d7f2ccc0969a5f42ebf8a' type='text/javascript'%3E%3C/script%3E"));
    </script>

  </body>
</html>