body{
	width: 960px;
	margin: auto;
	padding-top: 120px;
}

a{
	text-decoration: none;
	color: black;
}

header{
	font-size: 72px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
}

footer{
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
}

h3{
	margin: 0;
	margin-bottom: 10px;
}

table td{
	padding: 5px;
}

.in{
	padding: 5px;
	width: 100px;
}

.small{
	font-size: 12px;
	color: gray;

}

.sole{
	color: green;
	font-weight: bold;
}

.buy{
	color: red;
	font-weight: bold;
}

.btn{
	padding: 7px;
}

#list{
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0;
}

#trade{
	overflow: hidden; 
	width: 550px;
	margin: auto;
	margin-top: 10px;
}
